version: '3.8'

services:
  db:
    image: postgres:13
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: french_business_directory
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      # Load initial data into the database
      - ./data_to_import:/container_data:ro

volumes:
  db_data:
